#!/usr/bin/env sh

{% if folder == "post" %}
# combine keys for haproxy
cat "/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem" \
	"/etc/letsencrypt/live/{{ domain_name }}/privkey.pem" \
	> /etc/letsencrypt/live/{{ domain_name }}/{{ domain_name }}.pem
{% endif %}
service haproxy "{{ service_state }}"
