
# The directories where your projects are. Must not end with a slash.
$projectroot = "{{gitweb_root}}";

# Base URLs for links displayed in the web interface.
#@git_base_url_list = qw(git://{{ansible_host}} http://{{ansible_host}});

# syntax highlighting
#$highlight_bin = "/usr/bin/highlight";
$feature{'highlight'}{'default'} = [1];

$site_name = 'git';

push @stylesheets, "static/{{gitweb_stylesheet}}";

