
var.basedir  = "/var/www/localhost"
var.logdir   = "/var/log/lighttpd"
var.statedir = "/var/lib/lighttpd"

server.modules = (
	"mod_redirect",
	"mod_alias",
	"mod_access",
	"mod_accesslog",
	"mod_cgi",
	"mod_setenv"
)

server.port          = "{{ http_port }}"
server.username      = "{{ lighttpd_user }}"
server.groupname     = "{{ lighttpd_group }}"
server.document-root = var.basedir + "/htdocs"
server.pid-file      = "/run/lighttpd.pid"
server.errorlog      = var.logdir  + "/error.log"
server.follow-symlink = "disable"
accesslog.filename   = var.logdir + "/access.log"
dir-listing.activate      = "enable"
url.access-deny = ("~", ".inc")

#
# gitweb
#

include "mime-types.conf"

url.redirect += ( "^/gitweb$" => "/gitweb/" )
alias.url += ( "/gitweb" => "/usr/share/gitweb/" )
$HTTP["url"] =~ "^/gitweb/" {
	setenv.add-environment = (
		"GITWEB_CONFIG" => "/etc/gitweb.conf",
		"PATH" => env.PATH
	)

	cgi.assign = ( ".cgi" => "" )
	server.indexfiles = ( "gitweb.cgi" )
}

